.GearListPage-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.marketplace-title {
    font-family: monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
}

.marketplace-copy {
    font-style: italic;
    max-width: 85vw;
}