.signup-page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.logo { 
  margin-top: 10%;
  /* padding-bottom: 30%; */
}

.signup-right > header{ 
  margin: 5%;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.signup-button{ 
  background-color: #FF453C;
  border-radius: 5px;
  color: white;
  width: 150px;
}

.sign-up-link { 
  padding-top: 8%;
}
.signup { 
  color: #FF453C;
}

.signup-right {
  border: solid grey 1px;
  display: flex;
  flex-flow: column wrap;
  max-width: 300px;
  margin-top: 60px;
}
.login-text { 
  display: inline;
  text-align: center;
  font-weight: 500;
}
